* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary

.gitignore export-ignore
.gitattributes export-ignore
.editorconfig export-ignore
/tests/ export-ignore
/.github/ export-ignore
/phpunit.xml.dist export-ignore
/config*.xml export-ignore
/dist/ export-ignore
/data/disposable_domains.backup.*.txt export-ignore
