.tec-spamguard-widget {
    display: flex;
    justify-content: center;
    margin: 16px auto;
    text-align: center;
    width: 100%;
}

.tec-spamguard-widget > altcha-widget {
    display: block;
    width: 100%;
}

.tec-spamguard-widget .altcha,
.tec-spamguard-widget .altcha-main {
    margin-left: auto;
    margin-right: auto;
}
